sharding:
  clusterRole: configsvr

replication:
  replSetName: configReplSet

net:
  bindIp: 0.0.0.0
  port: ${CONFIG_PORT}

storage:
  dbPath: /data/config

systemLog:
  destination: file
  path: /logs/config.log
  logAppend: true

processManagement:
  fork: true
