sharding:
  clusterRole: shardsvr

replication:
  replSetName: shard2

net:
  bindIp: 0.0.0.0
  port: ${SHARD2_PORT}

storage:
  dbPath: /data/shard2

systemLog:
  destination: file
  path: /logs/shard2.log
  logAppend: true

processManagement:
  fork: true
